<!DOCTYPE html>
<html lang="en">

<head>
    <title>Spooky Seinfeld</title>
    <link rel="icon" type="image/x-icon" sizes="256x256" href="assets/seinfeld.ico">


    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
</head>

<body>
    <div class="image-container">
        <img src="assets/bg.jpeg" alt="Background Image" class="background-image">
    </div>

    <br/>

    <div class="content">
        <div id="invite">
            <b>You're invited!</b> There will be a costume contest, a feats of strength competition, and plenty of Hennigan's to go around. If you haven't seen Seinfeld, feel free to just dress up a la '90s and we encourage you to familiarize yourself with the world by watching <a href="https://en.wikipedia.org/wiki/The_Rye">S7E11 "The Rye"</a> (it's on Netflix) (although all episodes are great). Hope to see you there!
        </div>
        <br/>
        <div id="title">
            <b>Please RSVP Here</b>
        </div>
        <div id="rsvp-container">
            <input type="text" id="name" name="name" oninput="handleInput()" placeholder="Enter your name"  required>

            <div id="button-container">
                <button onclick="onSubmit(true)">I'll be there</button>
                <button onclick="onSubmit(false)">Can't make it</button>
            </div>
        </div>
    </div>

</body>
</html>